In [5]:
import pandas as pd
import numpy as np

In [6]:
dataset = pd.read_csv('TVShow.csv', header=None)
dataset.head()

,0,1,2,3,4,5,6,7,8,9,...,22,23,24,25,26,27,28,29,30,31
0,Cobra Kai,Lupin,12 Monkeys,Sherlock,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Lost,Jack Ryan,The Flash,Game of thrones,House of Cards,12 Monkeys,Vikings,Fringe,The Mentalist,The Alienist,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Sex Education,Dr. House,Kingdom,The Walking Dead,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Ozark,Sex Education,Constantine,Preacher,Vikings,The Tick,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Naruto,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
shows = dataset.values.astype(str).tolist()

In [8]:
from apyori import apriori

rules = apriori(transactions=shows,min_support = 0.003, min_confidence = 0.2, min_lift = 3, min_length = 2, max_length = 2)

In [9]:
result = list(rules)
result

[RelationRecord(items=frozenset({'12 Monkeys', 'Game of thrones'}), support=0.0038183694530443757, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Game of thrones'}), items_add=frozenset({'12 Monkeys'}), confidence=0.22023809523809523, lift=3.757230885311871)]),
 RelationRecord(items=frozenset({'Alice in Borderland', 'Daredevil'}), support=0.0071207430340557275, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Alice in Borderland'}), items_add=frozenset({'Daredevil'}), confidence=0.2875, lift=3.061401098901099)]),
 RelationRecord(items=frozenset({'Arrow', 'The Wire'}), support=0.005779153766769866, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Arrow'}), items_add=frozenset({'The Wire'}), confidence=0.22134387351778656, lift=3.367067714893802)]),
 RelationRecord(items=frozenset({'Breaking Bad', 'The Wire'}), support=0.004231166150670795, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Breaking Bad'}), items_add=frozenset({'The Wire'}), confidence=0.25308641975308643, lift=3.849933135647422)]),
 RelationRecord(items=frozenset({'The 100', 'Dark'}), support=0.0046439628482972135, ordered_statistics=[OrderedStatistic(items_base=frozenset({'The 100'}), items_add=frozenset({'Dark'}), confidence=0.41666666666666663, lift=4.6730324074074066)]),
 RelationRecord(items=frozenset({'Game of thrones', 'Family Guy'}), support=0.004024767801857585, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Game of thrones'}), items_add=frozenset({'Family Guy'}), confidence=0.23214285714285712, lift=3.2459802102659245)]),
 RelationRecord(items=frozenset({'Punisher', 'Family Guy'}), support=0.0046439628482972135, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Punisher'}), items_add=frozenset({'Family Guy'}), confidence=0.26011560693641617, lift=3.6371143307559493)]),
 RelationRecord(items=frozenset({'Family Guy', 'Rick And Morty'}), support=0.009184726522187823, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Rick And Morty'}), items_add=frozenset({'Family Guy'}), confidence=0.27639751552795033, lift=3.8647791132263185)]),
 RelationRecord(items=frozenset({'Lost', 'Fringe'}), support=0.0030959752321981426, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Fringe'}), items_add=frozenset({'Lost'}), confidence=0.379746835443038, lift=11.39240506329114)]),
 RelationRecord(items=frozenset({'Game of thrones', 'Vikings'}), support=0.004850361197110423, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Game of thrones'}), items_add=frozenset({'Vikings'}), confidence=0.2797619047619047, lift=8.29019222367846)]),
 RelationRecord(items=frozenset({'Mr. Robot', 'Person of Interest'}), support=0.006914344685242518, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Person of Interest'}), items_add=frozenset({'Mr. Robot'}), confidence=0.4294871794871795, lift=3.926161103047896)]),
 RelationRecord(items=frozenset({'Queen of the South', 'Mr. Robot'}), support=0.0173374613003096, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Queen of the South'}), items_add=frozenset({'Mr. Robot'}), confidence=0.3294117647058824, lift=3.011320754716982)])]

In [10]:
def inspect(result):
    lhs = [tuple(row[2][0][0])[0] for row in result]
    rhs = [tuple(row[2][0][1])[0] for row in result]
    support = [row[1] for row in result]
    confidence = [row[2][0][2] for row in result]
    lift = [row[2][0][-1] for row in result]
    return list(zip(lhs,rhs,support,confidence,lift))
resultdf = pd.DataFrame(inspect(result), columns=['LHS','RHS','Support','Confidence','Lift'])

In [11]:
resultdf.sort_values(by=['Lift'],axis=0,ascending=False)

                    LHS         RHS   Support  Confidence       Lift
8                Fringe        Lost  0.003096    0.379747  11.392405
9       Game of thrones     Vikings  0.004850    0.279762   8.290192
4               The 100        Dark  0.004644    0.416667   4.673032
10   Person of Interest   Mr. Robot  0.006914    0.429487   3.926161
7        Rick And Morty  Family Guy  0.009185    0.276398   3.864779
3          Breaking Bad    The Wire  0.004231    0.253086   3.849933
0       Game of thrones  12 Monkeys  0.003818    0.220238   3.757231
6              Punisher  Family Guy  0.004644    0.260116   3.637114
2                 Arrow    The Wire  0.005779    0.221344   3.367068
5       Game of thrones  Family Guy  0.004025    0.232143   3.245980
1   Alice in Borderland   Daredevil  0.007121    0.287500   3.061401
11   Queen of the South   Mr. Robot  0.017337    0.329412   3.011321